.edit-container {
  z-index: 25;
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
}

.edit-container .home {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: var(--bg-color);
}

.edit-container .fa-map-pin {
  position: absolute;
  right: 10px;
  top: 10px;
}

.edit-container .content {
  padding: 1rem;
  width: 100%;
  min-height: 40.3rem;
}
.edit-container .fa-sort {
  margin-left: 1rem;
}

.edit-container .save-note {
  width: 6rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: var(--white-section);
}

.edit-container .quill {
  background-color: var(--white-section);
}

.edit-container .color-pallete {
  display: flex;
  margin-top: 1rem;
}

.edit-container .color-selector {
  margin-right: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
}

.edit-container .add-note {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
  margin: auto;
}

.edit-container .ql-toolbar.ql-snow {
  text-align: left;
}

.edit-container .title {
  font-size: 1.3rem;
  font-weight: bold;
}

.edit-container .title,
.edit-container .text-area,
.edit-container .tag-container,
.edit-container .select,
.edit-container .select .options {
  padding: 0.5rem;
}

.edit-container .select .options:hover {
  background-color: var(--bg-color);
}

.edit-container .tag-container {
  background-color: var(--white-section);
  min-height: 2.2rem;
}

.edit-container .tag {
  background-color: var(--default);
  color: var(--white-section);
  border-radius: 5px;
  margin: 0 0.2rem;
  padding: 0.1rem 0.2rem;
}

.edit-container .select {
  position: absolute;
  background-color: var(--white-section);
  border: 1px solid var(--default);
  width: 10rem;
  top: 12rem;
}

.edit-container .select .close {
  position: absolute;
  margin: 1rem;
  right: 0;
  top: 0;
}

.edit-container .display-note {
  text-align: left;
  margin: 1rem;
}

.edit-container .display-note > h3 {
  margin-bottom: 1rem;
}

.edit-container .text-area {
  resize: none;
}

.edit-container .tags-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.edit-container .tags-item {
  background-color: var(--primary-color);
  color: var(--white-section);
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 5px;
}

.edit-container .tags-empty {
  text-align: center;
  margin-top: 3rem;
}
