:root {
  --primary-color: #9333ea;
  --bg-color: #e2e8f0;
  --blur: rgba(0, 0, 0, 0.27);
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .simple-navigation .bar {
    display: inline !important;
  }
  .drawer,
  .profile {
    display: none;
  }
  .home {
    grid-template-columns: 1fr !important;
  }
  .sort-modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 786px) {
  .nav-list {
    position: static;
    background-color: var(--primary-color);
    border: none;
  }
  .add-note {
    width: auto !important;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 1rem 0 !important;
  }
}
